<% index = -1%>
<% @items.each do |user| %>
  <% index += 1 %>
  <% user.each do |item| %>
    <% if !item.is_borrowed %>
      <div class="father">
        <div class="card" style="width: 18rem;" >
          <img src=<%= item.image %> class="card-img-top" height="250px" alt="...">
          <div class="card-bodindexy">
            <h5 class="card-title"><%= item.name.upcase %></h5>
            <h5>Owner by <%= @users_details[index].name.upcase %> </h5>
            <h5 href="#" class="btn btn-primary"> <%= @users_details[index].phone_number %> </h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>    
<% end %>